
<!--<img src="../../assets/img/banner-background.jpg" alt="">
-->
<div class="header-top">
    <div class="header">
        
        <span style="margin-left: 98.5%;"><fa-icon [icon]="['fas', 'circle-user']"></fa-icon></span>
        
    </div>
</div>
<div class="header-bottom">
    <div class="header">
            <img src="..//../assets/img/logo.png" alt="Logo" width="40" height="40">
            BookSpace
            
            <span style="padding: 10px" font-size="12"><input type="text" placeholder="Search for Books" size="110%"></span>
            
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
            




    </div>
</div>

<!--HEADER-->
<div>

</div>